#waf-body {
	/*min-width: 1200px;
	min-height: 1100px;*/
}

#waf-body .teDefEdit	{
	z-index: 7;
	width: 365px;
	height: 250px;
	top: 150px;
	left: 350px;
	
	min-width: 300px;
	
	position: absolute;
	border-top-width: 2px;
	border-left-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
}

#waf-body .teInfo	{
	z-index: 17;
	width: 600px;
	height: 600px;
	top: 100px;
	left: 35px;
	
	min-width: 800px;
}

#teDialogComp {
	overflow-y:scroll;
}


#titleBar {
	min-width: 1000px;
}

#controlBar {
	min-width: 1000px;
}

#mainCont {
	min-width: 1000px;
	min-height: 800px;
}

#listCont {
	left: 0px;
	top:0px;
	height:24%;
	width:100%;
}

#formCont {
	left: 0px;
	top:25%;
	height:59%;
	width:49.5%;
}

#gisCont {
	left: 50.5%;
	top:25%;
	height:59%;
	width:49.5%;
}

#mediaCont {
	left: 0px;
	top:85%;
	height:14%;
	width:100%;
}

#formComp {
	overflow-y:scroll;
	overflow-x:scroll;
}

#tagsLabel {
	font-family: Syncopate;
	padding-left: 5px;
	padding-top: 5px;
}


