#waf-body .hidetop {
	 z-index: 1;
	 width: 1px;
	 height: 1px;
	 top: 0px;
	 left: 0px;
	
	 position: absolute;
	 border-top-color: transparent;
	 border-top-width: 0px;
	 border-left-color: transparent;
	 border-left-width: 0px;
	 border-right-color: transparent;
	 border-right-width: 0px;
	 border-bottom-color: transparent;
	 border-bottom-width: 0px;
	 border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	 border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	 border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	 border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	 
}


#waf-body .infoDialog	{
	z-index: 17;
	width: 600px;
	height: 550px;
	top: 35px;
	left: 35px;
	
	min-width: 800px;
}


#waf-body .hhalf1 {
	left:0px;
	width:50%;
}

#waf-body .hhalf2 {
	left:50%;
	width:50%;
}

#waf-body .vhalf1 {
	top:0px;
	height:50%;
}

#waf-body .vhalf2 {
	top:50%;
	height:50%;
}

#waf-body .vcenter {
	vertical-align: middle;
}

#waf-body .vpadding {
	padding-top:5%;
	padding-bottom:5%;
}

#waf-body .minw300 {
	 min-width: 300px;
}

#waf-body .minw400 {
	 min-width: 400px;
}

#waf-body .minw500 {
	 min-width: 500px;
}

#waf-body .minw1000 {
	 min-width: 1000px;
}

#waf-body .minw1200 {
	 min-width: 1200px;
}


#waf-body .minh200 {
	 min-height: 200px;
}

#waf-body .minh300 {
	 min-height: 300px;
}

#waf-body .minh400 {
	 min-height: 400px;
}

#waf-body .minh500 {
	 min-height: 500px;
}

#waf-body .minh800 {
	 min-height: 800px;
}